nav {
  height: 4rem;
  background-color: #490A3D;
  color: #e8fdff;        
  padding: 0.5rem;      
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
nav img {
  width: 2rem;
  height: 2rem;
  margin-top: 0.65rem;
}

#nav-bar .logo {
  float: left;
}

#nav-bar .header {
  float: left;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2rem;
  margin-left: 10px;
  margin-top: 1rem;
  color: white;
}
.links {
  list-style-type: none;
  float: right;
  margin: 0;
}
.links button {
  width: 100%;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #8A9B0F;
  border-radius: 6px;
  padding: 3px 16px;
  height: 2.75rem;
  margin-top: 0.1rem;
  border: none;
}
.links button:hover {
  background-color: #8A9B0F;
  color: white;
}

/* Media queries */
@media (min-width: 600px) {
  nav {
    padding: 0.5rem 1rem;
  }
}
@media (min-width: 1024px) {
  nav {
    padding: 0.5rem 1.7rem;
  }
}