nav {
  background-color: #00a087;
  color: #e8fdff;
  height: 5rem;                   /* 80/16 */   
  padding: 0 2rem;      
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
nav img {
  width: 5rem;
  height: 5rem;
}

#nav-bar .logo {
  float: left;
}

#nav-bar .header {
  float: left;
  font-size: 2rem;
  line-height: 5rem;
  margin-left: 10px;
}
.links {
  list-style-type: none;
  float: right;
}
.links a {
  text-decoration: none;
  background-color: #E3FEFF;
  color: #00A087;
  border-radius: 100px;
  padding: 6px 16px;
  line-height: 3rem;
}
.links a:hover {
  background-color: white;
  color: black;
}
