/* new tweet */
.new-tweet {
  background-color: #eee;
  border: 1px solid #E2E2E2;
  border-radius: 7px; 
  padding: 0.6em;
  display: none;
}
.new-tweet h2 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.new-tweet textarea {
  width: 100%;
  height: 5.5rem;
  padding: 3px;
}
.new-tweet input {
  border-radius: 0.25rem;
  width: 100%;
  height: 2.75rem;
  background-color: #F1F1F1;
}
.new-tweet p {
  display: none;
  margin: 1em 0;
  color: red;
  font-size: 0.8em;
}
.counter {
  float: right;
  font-size: 0.7em;
  font-style: italic;
  padding: 0.5em;
  position: relative;
}
.red {
  color: red;
}

/* tweet */
.tweet h3 {
  display: inline-block;
  font-size: 1.5em;
  color: #60877F;
  margin: 0 0.3em;
  position: relative;
  top: -0.26em;
}
.tweet {
  border: 1px solid #E2E2E2;
  border-radius: 7px;
  margin-top: 1rem;
  overflow: hidden;
}
.tweet header {
  padding: 0.6em;
  background-color: #F3F3F3;
  opacity: 0.7;
}
.tweet img {
  border-radius: 5%;
  width: 2rem;
}
.tweet .handle {
  font-size: 14px;
  color:#808080;
  float: right;
  margin-top: 0.6em;
}
.tweet p {
  margin: 1em;
  word-break: break-all;
}
.tweet footer {
  border-top: 0.9px solid #EEEEEE;
  font-size: 0.7rem;
  padding: 1em;
}
.tweet footer .icons {
  display: none;
  color: #2DCBBA;
  float: right;
  font-size: 1.3em;
}
.tweet footer i {
  padding-left: 0.2em;
}
.tweet footer p {
  margin: 0;
  display: inline-block;
}
.tweet:hover {
  border-color: #808080;
}
.tweet:hover .icons {
  display: initial;
}
.tweet:hover header {
  opacity: 1;
}