/* new tweet */
.new-tweet {
  background-color: #eee;
  border: 1px solid #E2E2E2;
  border-radius: 7px; 
  padding: 0.6rem;
  display: none;
}
.new-tweet h2 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.new-tweet textarea {
  width: 100%;
  height: 5.5rem;
  padding: 0.4rem;
}
.new-tweet input {
  border-radius: 0.25rem;
  width: 100%;
  height: 2.75rem;
  background-color: #F8CA00;
  border: none;
}
.new-tweet input:hover {
  background-color: #e6bb00;
}
.new-tweet p {
  display: none;
  margin: 1rem 0;
  color: red;
  font-size: 1rem;
}
.counter {
  float: right;
  font-size: 0.8rem;
  font-style: italic;
  padding: 0.5rem;
  position: relative;
  top: -0.35rem;
}
.red {
  color: red;
}

/* tweet */
.tweet h3 {
  display: inline-block;
  font-size: 1.5rem;
  color: rgb(40, 46, 45);
  margin: 0 0.3rem;
  position: relative;
  top: -0.26rem;
}
.tweet {
  border: 1px solid #E2E2E2;
  border-radius: 7px;
  margin-top: 1rem;
  overflow: hidden;
}
.tweet header {
  padding: 0.6rem;
  background-color: #F3F3F3;
  opacity: 0.7;
}
.tweet img {
  border-radius: 5%;
  width: 2rem;
}
.tweet .handle {
  font-size: 0.9rem;
  color:#BD1550;
  display: block;
  margin-top: 0.6rem;
}
.tweet p {
  margin: 0.6rem;
}
.tweet footer {
  border-top: 0.9px solid #EEEEEE;
  font-size: 0.9rem;
  padding: 0.6rem;
}
.tweet footer .icons {
  display: none;
  color: #E97F02;
  float: right;
  font-size: 1.3rem;
  position: relative;
  bottom: 0.16rem;
}
.tweet footer i {
  padding-left: 0.4rem;
}
.tweet footer p {
  margin: 0;
  display: inline-block;
}
.tweet:hover {
  border-color: #808080;
}
.tweet:hover .icons {
  display: initial;
}
.tweet:hover header {
  opacity: 1;
}

/* Media queries */
@media (min-width: 600px) {
  .new-tweet input {
    width: 25%;
    margin-top: 0.4rem;
  }
  .new-tweet textarea {
    height: 3.5rem;
  }
  .new-tweet p {
    margin: 0.6rem 0;
  }
  .tweet .handle {
    float: right;
  }
}